<% if re_bb.for_condensed_view and !data.empty? %>
	<td class='one_line'>
		<label class='filter'><%= re_bb.name + ": " %></label>
		<% data.each do |datum| %>	
			<% option = ReBbOptionSelection.find(datum.re_bb_option_selection_id) %>	
			<%= option.value %>
		<% end %><br/>
	</td>
<% end %>
