<table>
	<tr>
		<!-- Attributes which belong to the shared fields of every artifact -->
		<% selected_attributes.each do |attribute| %>
			<% if attribute.starts_with? 're_artifact_properties_' %>
				<% name = attribute.sub('re_artifact_properties_', '') %>
				<%= render :partial => "re_artifact_properties/table_data_for_shared_fields_one_line_representation", :locals => {:name => name, :artifact => re_artifact_properties}%>
			<% end %>
		<% end %>
		<!-- Attributes which belong to the subclass of the artifacts, e.g. "start" for "task" -->
		<% selected_attributes.each do |attribute| %>
			<% unless attribute.starts_with? 're_bb_' or attribute.starts_with? 're_artifact_properties_' %>
				<% value = re_artifact_properties.artifact.send(attribute)%>
				<% unless value.nil? or value == '' %>
		        	<td>
		              	<label class='filter'><%= l(re_artifact_properties.artifact_type.underscore + '_' + attribute) + ": " %></label>
						<%= value %>
		            </td>  
				<% end %>
			<% end %>
		<% end %>
		<!-- Attributes which are building blocks -->
		<% selected_attributes.each do |attribute| %>
			<% if attribute.starts_with? 're_bb_' %>
				<% id = attribute.sub('re_bb_', '').to_i %>
				<% re_bb = ReBuildingBlock.find(id) %>
				<% data = re_bb.find_my_data(re_artifact_properties)%>
				<% bb_class_name = re_bb.type.is_a?(String) ? re_bb.type : re_bb.type.name %>
	      		<%= render :partial => "re_building_block/#{bb_class_name.underscore}/one_line_representation", :locals => {:re_bb => re_bb, :data => data, :force_representation => true} %>
			<% end %>
		<% end %>		

	</tr>
</table>