<% if @project.module_enabled?(:requirements) %>

	  <% unless @issue.nil? %>	  
	  <table class="attributes">
	  <tbody>
		  <tr>
		  	<th>
		  		 	<%= t(:re_asscociated_requirements) %>
		  	</th>
		  		<td>&nbsp;</td>
		  </tr>
<% @issue.re_artifact_properties.each do |current_artifact| %>
		<tr>
			<th class="status">&nbsp;</th>
			<td class="status"><ins class="subject_icon <%= current_artifact.artifact_type.underscore %>"></ins>
				<%= link_to current_artifact.name, current_artifact	%>  	
		 	</td>
		 </tr>
<% end%>		  
	  </tbody>
	  </table>

<% end %>

<% end %>

