<div class="contextual">
  <%= watcher_tag(@re_artifact_properties, User.current) %>
  <%= link_to l(:button_delete), {
    :controller => 're_artifact_properties',
    :action => 'destroy',
    :id => @re_artifact_properties.id
  }, :class => 'icon icon-del' %>
</div>
