 <% issues  = @re_artifact_properties.issues  %>
 <%= javascript_include_tag 're_artifacts_suggestible', :plugin => 'redmine_re' %>

  <div class="panes">

    <%= render :partial => 'form' %>
  
  </div>
