<div id='detail_view' class='detail_view'>
<h2><%= l(:re_attachment) %></h2>

<%= error_messages_for :re_attachment %>

<% form_for :re_attachment, :update => :detail_view, :url => {:action => "edit"}, :html => {:multipart => true } do |f| %>
    <%= hidden_field_tag :parent_id, params[:parent_id] %>

    <%= render "re_artifact_properties/shared_fields", {:f => f, :properties => @re_attachment.re_artifact_properties} %>

    <% unless @re_attachment.id %>
        <%= file_field_tag 'attachment[1][file]', :size => 30 %>
    <% end %>
    <p>
      <%= submit_tag l(:re_save), :action => :edit %>
    </p>

<% end %>

<%= render "re_artifact_properties/manage_relationships", :id => params[:id], :project_id => @project.id if params.has_key? :id %>

</div>