<h3><%= l(:re_goal) %></h3>

<ul>
  <li><%= link_to l(:re_create_goal), {
        :controller => 're_goal',
        :action => 'edit',
        :project_id => @project.id } %>
  </li>
</ul>

<h3><%= l(:re_task) %><br/></h3>

<ul>
  <li><%= link_to l(:re_create_task), {
        :controller => 're_task',
        :action => 'edit',
        :project_id => @project.id } %>
  </li>
</ul>