Use sections to structure your requirements in the tree to the left.<br />
You can add sections to organize the types of your requirements (e.g. introduce a goals section and a workareas section) and put the according requirements below.<br />
(Cloming soon) Sections will also be used to divide and enumerate a requirements document. 
