<div class="box">
  <fieldset><legend><%= l(:re_processword_specific_attributes) %></legend>

	<p>
    	<%= f.label :synonyms, l(:re_processword_synonyms) %> <%= f.text_field :synonyms %>
    </p>

  </fieldset>
</div>

