<% configured_description = ReSetting.get_serialized('re_vision', @project.id)['description']%>
<% if configured_description.nil? %> 
	A vision statement for your project. Describe ideas in Wiki style syntax with this artifact.
<% else %> 
	<%= textilizable(configured_description, :only_path => false) %> 
<% end %> 



