<% configured_description = ReSetting.get_serialized('re_section', @project.id)['description']%>
<% if configured_description.blank? %> 
	<p>Use sections to structure your requirements in the tree to the left.</p>
	<p>You should structure your requirements in sections because
        this helps you to keep all your artefacts and their context-information
        manageable. There exist a lot of reference structures for requirements.
        For example you can use the IEEE Standard 1233-1998 which defines a
        structure for a system requirement specification (SyRS) or the IEEE
        Standard 830-1998 which defines a structure for a software requirements
        specification (SRS).'
        <!-- Taken from: [Pohl 2008, S. 251 - 253] --></p>
	 
<% else %> 
	<%= textilizable(configured_description, :only_path => false) %> 
<% end %> 



