<% configured_description = ReSetting.get_serialized('re_requirement', @project.id)['description']%>
<% if configured_description.blank? %> 
	<p>For managing the most important RE artifact.</p>
	<p>Deriving requirements from scenarios helps to prevent you
        from inventing requirements because these artefacts should be the basis
        for all requirements. You can obtain new requirements from individual
        stakeholders with the help of interviews and observation. Workshops
        are the best options for discovering requirements from groups.'
        <!--#  Taken from: [Pohl 2008, S. 183], [Alexander 2009, S.260 S. 315]--></p>
<% else %> 
	<%= textilizable(configured_description, :only_path => false) %> 
<% end %> 