<% configured_description = ReSetting.get_serialized('re_rationale', @project.id)['description']%>
<% if configured_description.blank? %> 
	<p>Use rationals to justify your requirements or other artifacts.</p>
	<p>Descisions on requirements and design are often based on
        hidden assumptions. Making assumptions explicit through a rationale
        enables decisions to be revised. Rationales also help to prioritize
        requirements and protect them from being removed.</p>
<% else %> 
	<%= textilizable(configured_description, :only_path => false) %> 
<% end %> 



