<% options = options_for_select(ReArtifactProperties.find_all_by_artifact_type_and_project_id(params[:selected_type], @project.id).collect {|artifact| [artifact.name, artifact.id]}.insert(0, ['', nil]), nil) %>
<%= select_tag params[:params_path_artifact], options, {} %>
