a {
/* we need this to make javascript work properly,
otherwise there is a 1px movement, when clicking on links */
	outline: none;
}

a:active {
  outline: none;
}

.detail_view {
  margin-left: 220px;
  margin-right: 35px;
}

.treebar {
  position: absolute;
  float: left;
  width: 200px;
  height: 100%;
}

/* accordion header */
#treebar h2 {
	background:#dddddd;
	margin:0;
	padding:5px 15px;
  font-size: 14px;
	font-weight:normal;
	border:1px solid #fff;
	border-bottom:1px solid #ddd;
	cursor:pointer;		
}

/* currently active header */
#treebar h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
#treebar .pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	padding:15px;
	color:#fff;
	font-size:12px;
	min-height:200px;
}

/* a title inside pane */
#treebar .pane h2 {
	font-weight:bold;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}

#treebar ul.navigation {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

#treebar ul.navigation li {
  padding-bottom:2px;
}

.recopyright {
  font-size: 0.9em;
}

table.subtasks {
  border-spacing: 0;
  border-style: none;
  border-width: 0;
  min-width: 800px;
}

#subtasks .drop_hover {
  background: url(../images/sortable_tree/drag.png) no-repeat bottom left;
}

.formError {
  color:red;
  font-weight:bold;
}

tr.subtask {
  background-color: #F6F7F8;
  border-width: 1px;
  padding: 0px;
  border-style: solid;
  border-color: gray;
}

td.subtask {
  border-top: 2px solid #505050;
}

tr.variant {
  background-color: #FFE6BF;
}

tr.problem {
  background-color: #F1938C;
}

tr.draggable {
  cursor: move;
}

textarea {
  border: 1px solid #CCCCCC;
  font-family: Verdana,sans-serif;
  padding: 3px;
  font-size: 12px;
  width: 95%;
}

textarea.bb_config {
	width: 50%;
	height: 70px;
	rows: 5;
}

#context-menu li.header {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: dotted;
  background-color: #507AAA;
  padding-left: 5px;
  color: white;
}

label.medium {
  width: 150px;
}

label.large {
  width: 300px;
}

label {
  font-weight: bold;
  width: 100px;
  clear:left; 
  display:block;
  float:left; 
  text-align:right;
  padding-right:5px;
}

label.filter {
  font-weight: bold;
  width: 100px;
  clear:left; 
  display:block;
  float:left; 
  text-align:left;
  padding-right:5px;
}

td.dnd {
  cursor: move;
}

label.behind_checkbox {
  display:inline;
  float:none; 
  clear:none;
  margin-left: 5px;
}

label.bb_config {
	width: 130px;
}

label.bb_options {
  display:inline;
  float:none; 
  clear:none;
  margin-left: 5px;
  width:60px;	
}

label.user_defined {
	width: 150px;
}

input.bb_checkbox {
	margin-left: 105px;
}

.numberfield-slider {
  float:left;
}

.numberfield-slider .numberfield-track {
  float:right;
  width: 150px;
  background-color: #507AAA;
  height: 15px;
  margin: 3px 0 0 15px;
}

.numberfield-slider .numberfield-handle {
  width: 8px;
  height: 13px;
  margin: 1px 1px 0 1px;
  background-color: #FFFFFF;
  cursor: move;
}

.icon-subtask-before {
  background-image: url("../images/icons/subtask_before.png");
}

.icon-subtask-after {
  background-image: url("../images/icons/subtask_after.png");
}

.icon-subtask-wiki-new {
  background-image: url("../images/icons/book_add.png");
}

.icon-subtask-wiki-edit {
  background-image: url("../images/icons/book_edit.png");
}

.select_field_filter {
  width: 110px;
}

ins.new {
    background: url(../../../images/add.png) no-repeat left top;
}
ins.edit {
    background: url(../../../images/edit.png) no-repeat left top;
}
ins.delete {
    background: url(../../../images/delete.png) no-repeat left top;
}

ins.project {
  background: url(../images/icons/group_gear.png) no-repeat left top;
}
a.project {
  background: url(../images/icons/group_gear.png) no-repeat left top;
}
ins.re_workarea {
  background: url(../images/icons/bricks.png) no-repeat left top;
}
a.re_workarea {
  background: url(../images/icons/bricks.png) no-repeat left top;
}
ins.re_task {
  background: url(../images/icons/report_user.png) no-repeat left top;
}
a.re_task {
  background: url(../images/icons/report_user.png) no-repeat left top;
}
ins.re_subtask {
  background: url(../images/icons/report.png) no-repeat left top;
}
a.re_subtask {
  background: url(../images/icons/report.png) no-repeat left top;
}
ins.re_goal {
  background: url(../images/icons/world.png) no-repeat left top;
}
a.re_goal {
  background: url(../images/icons/world.png) no-repeat left top;
}
ins.re_user_profile {
  background: url(../images/icons/user.png) no-repeat left top;
}
a.re_user_profile {
  background: url(../images/icons/user.png) no-repeat left top;
}
ins.re_section {
  background: url(../images/icons/text_padding_top.png) no-repeat left top;
}
a.re_section {
  background: url(../images/icons/text_padding_top.png) no-repeat left top;
}
ins.re_attachment {
    background: url(../images/icons/attach.png) no-repeat left top;
}
a.re_attachment {
    background: url(../images/icons/attach.png) no-repeat left top;
}
ins.re_vision {
    background: url(../images/icons/lightbulb.png) no-repeat left top;
}
a.re_vision {
    background: url(../images/icons/lightbulb.png) no-repeat left top;
}

/***** custom tooltips visualization*****/

/* if you define a tooltip use for the tip 2 css class: class="tip customtipname"
   for example: class="tip subtask_error_tip"

   look in apllication.css of redmine which styles are already set and overwrite or add
   the stylez for your custom tooltip
*/

div.tooltip:hover span.subtask_error_tip {
  border: 1px solid #EC705B;
  text-align:center;
  font-weight:bold;
  color:#EC705B;
}

div.tooltip:hover span.wiki_page_preview_tip {
    border: 1px solid #507AAA;
    font-size: x-small;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
}

div.tooltip:hover span.userdefined_fields_tip {
    border: 1px solid #507AAA;
	position: absolute;
    text-align:center;
  	font-weight:bold;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.tooltip.userdefined_fields {
	position: absolute;
}

