<h2>Burndown Chart</h2>

<p>
<img src="<%= @charturl%>"/>
</p>


Available Versions <br/>
<% @allversions.each do |version| %>
<%= link_to version.name+" ("+version.id.to_s+") " , :controller => 'bdchart', :action => 'index', :showversion => version.id %> |
<% end %>

<p>
<%= link_to 'back', :back%>
</p>