<%= l(:re_text_artifact_added, :id => "##{@re_artifact_properties.id}", :author => h(@updated_by_user)) %>
 
<h1><%= link_to(h("#{@re_artifact_properties.project.name} ##{@re_artifact_properties.id}: #{@re_artifact_properties.name}"), @artifact_url) %></h1>

<%= textilizable(@re_artifact_properties, :description, :only_path => false) %>
