<% if bb_hash.keys.length != 0 %>
	<div class="box">
	
	  <fieldset><legend><%= l(:re_bb_userdefined_fields) %></legend>
		<% bb_hash.keys.each do |bb| %>
			<%= render :partial => bb.data_form_partial_strategy, :locals => {:re_bb => bb, :data => bb_hash[bb]} %>
		<% end %>
	      
	    
	  </fieldset>
	
	  <br />
	</div>
<% end %>