<div class="one_line_view">
  <table>
    <tbody>
      <tr>

        <%= render :partial => "re_artifact_properties/shared_fields_one_line_representation", :locals => {:artifact => artifact}%>

        <% for column in ReGoal.content_columns %>
          <% value = artifact.artifact.send(column.name)%>
          <% unless value.nil? or value == '' %>
            <td>
              <label class='filter'><%= l('re_goal_' + column.name) + ": " %></label>
              <%= value %>
            </td>  
          <% end %>
        <% end %>

      </tr>
    </tbody>
  </table>
</div>
